* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background: #444;
  color: #fff;
  padding: 9px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span:last-child {
  cursor: pointer;
  margin-left: 10px;
}
